
<head>
<style>
 table {
 border: 4px black solid;
 color: blue;
 font-size: 13px;
 
 }
 td{
 border: 3px red solid;
 
 }
 
 

 </style>


</head>
<center>
<body>
<table  center>
     <tr  >
          <td align="center" style="background:linear-gradient(white,black);"  colspan="2" > <h3>Maszk</h3></td>
     </tr>
   <tr >
        <td width="50%" style="background:linear-gradient(white,red);"><h3> style="background:linear-gradient(white,red);"</h3></td><td style="background:linear-gradient(to right, red, orange, yellow, lime, blue, purple, fuchsia)"> <h3>style="background:linear-gradient(to right, red, orange, yellow, lime, blue, purple, fuchsia)"</h3> </td>
   </tr>
   <tr>
        <td style="background: radial-gradient(circle, blue,red,yellow);"><h3>style="background: radial-gradient(circle, blue,red,yellow);"</h3></td><td style="background:radial-gradient(ellipse 66% 33% at right top, white, red 75%, silver);"><h3> style="background:radial-gradient(ellipse 66% 33% at right top, white, red 75%, silver);"</h3></td>
   </tr>
   
</table>
</body>
