
<body>
    <p>
        <u>Akapit 1</u> Tymoteusz Maszk 1P<br />
        Użyłem * gwiazdka dla selektora uniwersalnego, Parametry dla selektora uniwersalnego: (dla imienia -Tymek) <br/>
        wielkość 30+liczba_liter_imienia w [pt] = 30 + 6 (Tymek) = 36 [pt], <br/>
        mam numer w dzienniku 6 a więc parzysty, czyli kolor tła żółty.<br/>
    </p>
    <p class="klasa_nieuniwersalna_Maszk">
        <u>Akapit 2</u>, Daniel Bucki 1P
        <br />
        Użyłem p.klasa_nieuniwersalna_Maszk, <br/>
        Parametry dla klasy nieuniwersalnej: (dla nazwiska Maszk)
        wielkość 25+liczba_liter_nazwiska w [pt] = 25+5 (Maszk)=30 [pt] ,
        kolor liter fioletowy (dla numerów parzystych w dzienniku).
    </p>
    <h1>
        <u>Akapit3</u>, Tymoteusz Maszk 1P<br/>
        
        Użyłem .klasa_nieuniwersalna_bucki dla H1,  <br/>
        Parametry dla klasy uniwersalnej: (dla miesiąca styczeń- - 1)  <br/>
        <br/>
        wielkość 20+miesiąc urodzenia w [pt]  = 20 + 1 (Styczen) = 28 [pt] ,  <br/>
        kolor liter zielony (dla numerów parzystych w dzienniku). 
    </h1>
    <div>
        <u>Akapit 4</u>,Tymoteusz Maszk 1P<br/>
        
        Użyłem .klasa_nieuniwersalna_Maszk dla DIV  <br/>
        Parametry dla klasy uniwersalnej: (dla miesiąca Styczen - 1)  <br/>
        <br />
        wielkość 20+miesiąc urodzenia w [pt]  = 20 +1 (styczen) = 28 [pt] ,  <br/>
        kolor liter zielony (dla numerów parzystych w dzienniku). 
    </div>
</body>





div
{
	color: red;
}
A
{
font-size: 18pt;
text-decoration: none;
}
A:link
{
color: blue;
}
A:visited
{
color: green;
}
A:hover
{
color: red;
text-decoration: underline;
}