div {
    width: 606px;
    background-color: green;
    font-size: 19mm;
}

#blok_maszk_1:hover {
    background-color: blue;
}

#blok_maszk_2 {
    background-color: silver;
}

#blok_maszk_3 {
    background-color: #03fc24;
}
