<div style="background-color: silver; width: 998px"> 
 <span style="color: maroon;font-size: 1.4cm;font-family: Arial;"> 
 Znacznik DIV (blok 1)-->Maszk
 </span> 
 <br />
 <span style="font-size: 8mm;font-family: Times New Roman;">
 <b><u> Element blokowy (DIV)</u> </b> jest elementem blokowym może zawierać 
wewnątrz siebie zwykły tekst, jak również inne elementy blokowe. Został on 
pomyślany do tworzenia obszerniejszych struktur. 
 </span>
 <span style="font-family: Arial, Helvetica, sans-serif; font-size: 7mm;"> <br />
 Zastosowanie DIV
 <ul type="square">
 <li> 
 Z div'a powinno się korzystać kiedy potrzebujemy wyodrębnić poszczególne 
bloki w układzie dokumentu, na przykład lewa kolumna, menu nawigacyjne, 
stopka.
 </li>
 <li>Służy do utworzenia sekcji (bloku) w pliku HTML w celu ich sformatowania za 
pomocą arkusza stylów CSS.</li>
 </ul>
 </span>
 </div>

<div style="background-color: red; width: 1098px"> 
 <span style="color: silver;font-size: 1cm;font-family: Arial;"> 
 Znacznik SPAN (blok 2)-->31.01.2025 8;03
 </span> 
 <br />
 <span style="font-size: 8mm;font-family: Times New Roman;">
 <b><u> Element wyświetlanie w linii (SPAN)</u> </b> jest elementem liniowym może zawierać 
elementów blokowych, ale mogą inne elementy wyświetlane w linii oraz zwykły tekst
 </span>
 <span style="font-family: Arial, Helvetica, sans-serif; font-size: 5mm;"> <br />
 Zastosowanie DIV
 <ul type="circle">
 <li> 
Jeśli chcemy w paragrafie część tekstu wyróżnić czerwonym kolorem, do 
wyodrębnienia tego tekstu nie możemy użyć elementu div (paragraf <.p> z zasady 
nie może zawierać elementów blokowych) tylko span
 </li>
 <li> Wewnątrz DIV można oczywiście wpisać również SPAN.</li>
 </ul>
 </span>
 </div>

<div style="background-color: maroon; width: 1198px"> 
 <span style="color: silver;font-size: 9mm;font-family: Arial;"> 
 Znacznik SPAN (blok 2)-->31.01.2025 8;03
 </span> 
 <br />
 <span style="font-size: 7mm;font-family: Times New Roman;">
 <b><u> Element wyświetlanie w linii (SPAN)</u> </b> jest elementem liniowym może zawierać 
elementów blokowych, ale mogą inne elementy wyświetlane w linii oraz zwykły tekst
 </span>
 <span style="font-family: Arial, Helvetica, sans-serif; font-size: 5mm;"> <br />
 Zastosowanie DIV
 <ul type="circle">
 <li> 
Jeśli chcemy w paragrafie część tekstu wyróżnić czerwonym kolorem, do 
wyodrębnienia tego tekstu nie możemy użyć elementu div (paragraf <.p> z zasady 
nie może zawierać elementów blokowych) tylko span
 </li>
 <li> Wewnątrz DIV można oczywiście wpisać również SPAN.</li>
 </ul>
 </span>
 </div>