p {
color: red; 
font-size: 40pt;
{

span {
color: green;
font-size: 25pt;
}

div{
bgcolor: silver;



<head>
<LINK href="zad19css.css" rel="stylesheet" 
type="text/CSS">
</head>
<body>


<div style="background-color: yellow">
 <span style="color: red">
 <b>To jest pogrubienie w ramach DIV oraz SPAN i dlatego jest czerwone na żółtym tle</b>,
 a to jest zwykły tekst - również wewnątrz DIV i SPAN.
 </span>
<h1>To jest zwykły tekst, ale tylko wewnątrz DIV - dlatego nie jest czerwony, ale ma żółte tło.</h1>
 <p>A to jest akapit (element blokowy) w ramach DIV.</p>
</div>
<h1>Przykład2:</h1>
<span style="color: red">
 <b>To jest pogrubienie (element wyświetlany w linii) w ramach SPAN</b>,
 a to jest zwykły tekst - również wewnątrz span.
</span>
<h1>Przykład3: Temat: Kolorowe wyliczenie z użyciem styli wpisanych.</h1>
<ol>
<li style="color: red; "><span style="color: black; ">Punkt pierwszy</span></li>
<li style="color: green; "><span style="color: black; ">Punkt drugi</span></li>
<li style="color: blue; "><span style="color: black; ">Punkt trzeci</span></li>
</ol>
</body>