h1 {
width: 350pt;
height:2,8cm;
font-size :4.4mm;
padding : 20px;
margin-left : 70%;
border : 4px outset ;
border-top : 2px outset #FF00FF ;
border-bottom :5px outset #FF00F3 ;
border-right :3px outset #FF00F1 ;
border-left : 2px outset #FF00F0;
background : #00ff00;
color : #808000;
}
h2 {
width: 200pt;
height: 3cm;
padding : 30px;
margin-left : 50%;
border : 7px inset #800000;
background : #dc143c;
color : #fa8270;
}
h3 {
width: 300pt;
height: 4cm;
padding : 20px;
margin-left : 18%;
border : 10px dashed #C0C0C0;
background : #800000;
color : #ffc0cb;
}
